.add_image_form{
    display: none;
    text-align: center;
}

/* Popup container */
.popup {
    position: fixed;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    display: inline-block;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 400px;
    height: 200px;
    padding: 16px;
    border: 10px solid;
    background-color: #ECECEA;
    opacity: 0.9;
    z-index: 1002;
    overflow: auto;

}

.add_image_form .add_image_title
{
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
}

